/* Typography */


/* Utility */

.pos-rel {
    position: relative;
}

.marg-10 {
    margin: 10px;
}

.padding-lat-20 {
    padding: 0 20px;
}

.txt-al-rig {
    text-align: right;
}

.font-13 {
    font-size: 13px;
}


/* HEADER */

.container.header {
    margin-top: 20px;
}

.header-img {
    min-width: 150px;
    max-width: 100%;
    /* margin-top: 10px; */
}

.fa-bars {
    display: inline-block;
    margin-top: 10px;
    color: #2485fd;
    font-size: 22px;
}

.btn-sign-up {
    padding: 10px 10px;
    border: 1px solid #004aff;
    border-radius: 5px;
    color: #004aff;
}


/* font size of the list reduced */

@media screen and (max-width: 1200px) {
    .container.header ul li a {
        font-size: 8px
    }
}


/* SECTION ONE -BLUE HERO */

.section-one-blue-hero-container-full-width {
    margin: 20px 0;
    background-image: url("../DigitalOcean/assets/bg-banner-home.jpg");
    background-size: cover;
}

.white-back {
    background-color: white;
    border-radius: 10px;
    margin: 30px 0;
}

.white-back h2 span {
    color: blue;
}

.white-back h2,
.white-back span,
.create-account {
    text-align: center;
}

.white-back h2 {
    margin-bottom: 20px;
}

.create-account {
    border: 1px solid black;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
}

.fa-google {
    text-align: left;
    display: inline-block;
}


/* SECTION TWO - LOGOS */


/* SECTION THREE - DEPLOY */


/* SECTION FOUR - DESIGNED */


/* SECTION FIVE - THE FEATURE */


/* SECTION SIX - BLUE TABLE */


/* SECTION SEVEN - DEVELOPMENT */


/* SECTION EIGHT - GET STARTED */


/* SECTION NINE - BLUE LIST */