/* Typography */


/* Utility */

.pos-rel {
    position: relative;
}

.marg-10 {
    margin: 10px;
}

.padding-lat-20 {
    padding: 0 5px;
}

.txt-al-rig {
    text-align: right;
}


/* HEADER */

.container.header {
    margin: 20px auto;
}

.header {
    margin: 20px;
}

.header-img {
    width: 100%;
    max-width: 200px;
    margin-top: 10px;
}

.fa-bars {
    display: inline-block;
    margin-top: 10px;
    color: #2485fd;
    font-size: 22px;
}


/* SECTION ONE -BLUE HERO */


/* SECTION TWO - LOGOS */


/* SECTION THREE - DEPLOY */


/* SECTION FOUR - DESIGNED */


/* SECTION FIVE - THE FEATURE */


/* SECTION SIX - BLUE TABLE */


/* SECTION SEVEN - DEVELOPMENT */


/* SECTION EIGHT - GET STARTED */


/* SECTION NINE - BLUE LIST */